<div class="row powergpa-row">
  <div class="col-md-3 col-sm-offset-1 col-xs-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5 style="color: white; text-align: center;">About PowerGPA</h5>
      </div>

      <div class="panel-body">
        <p>PowerGPA was created to allow students to easily access their GPA's without having to calculate it themselves.</p>
        <p>The creators noticed the inconvenience of the process of students having to calculate GPA themselves or wait until it is released by PowerSchool in between semesters.</p>

        <b>Upcoming Features:</b>

        <ul>
          <li>Allow students to change grades and see how the change is reflected in their GPA.</li>
          <li>Add authentication with "stay signed in" option. (Don't have to enter cridentials every time you want to check GPA)</li>
          <li>Use grades from Grade History to get average GPA over multiple years.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-xs-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5 style="color: white; text-align: center;">About the Founders</h5>
      </div>

      <div class="panel-body">
        <b><h6>Jon Moss</h6></b>
        <div class="row">
          <div class="col-md-6">
            Holds Guinness World record for greatest obsession with MacBooks and Rubies.
            <br>
            <b>Find him on:</b>
              <br/>- <a href="http://twitter.com/maclover7">twitter.com/maclover7</a>
              <br/>- <a href="http://jonathanmoss.me">jonathanmoss.me</a>
            </ul>
          </div>
          <div class="col-md-6">
            <a href="#" class="thumbnail">
              <img src="/images/moss-profile.jpg" alt="Nikolay Pomytkin">
            </a>
          </div>
        </div>

        <b><h6>Nikolay Pomytkin</h6></b>
        <div class="row">
          <div class="col-md-6">
            You probably have more game than him.
            <br>
            <b>Find him on:</b>
             <br/>- <a href="http://twitter.com/nikpomytkin">twitter.com/nikpomytkin</a>
             <br/>- <a href="http://instagram.com/nikolayp16">instagram.com/nikolayp16</a>
             <br/>- <a href="http://fb.me/nikolayp16">fb.me/nikolayp16</a>
             <br/>- <a href="http://nikolay.pomytkin.com">nikolay.pomytkin.com</a>
          </div>

          <div class="col-md-6">
            <a href="#" class="thumbnail">
              <img src="/images/nik-profile.jpg" alt="Nikolay Pomytkin">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-xs-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5 style="color: white; text-align: center;">Contact Us</h5>
      </div>
      <div class="panel-body">
        <p>Report a bug: <a href="http://github.com/menai/PowerGPA/Issues/new">Issues</a></p>
        <p>Email a founder:</p>
        <ul>
          <li>Jon Moss: me@jonathanmoss.me</li>
          <li>Nikolay Pomytkin: nik@pomytkin.com</li>
        </ul>
      </div>
    </div>
  </div>
</div>
