<div class="row" style="margin-top: 4%;">
  <div class="col-md-3 col-md-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5 style="color: white; text-align: center;">About PowerGPA</h5>
      </div>
      <div class="panel-body">
        <p>PowerGPA was created to allow students to easily access their GPA's without having to calculate it themselves.</p>
        <p>The creators noticed the inconvenience of the process of students having to calculate GPA themselves or wait until it is released by PowerSchool in between semesters.</p>
        
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5 style="color: white; text-align: center;">Upcoming features</h5>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5 style="color: white; text-align: center;">About the Creators</h5>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5 style="color: white; text-align: center;">Contact Us</h5>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>
