<footer class="footer" style="padding-bottom: 0.4%; padding-top: 0.4%;">
  <div class="row powergpa-row" style="margin-top:1%">
    <div class="col-md-2 col-md-offset-3">
      <a href="/about">About PowerGPA</a>
      <br/>
      <a href="https://github.com/menai/PowerGPA/issues/new">Report a bug</a>
    </div>
    <div class="col-md-3 col-md-offset-3">
      &#169; Jon Moss and Nikolay Pomytkin 2016.
    </div>
  </div>
</footer>
