<div class="row" style="font-family: 'Muli', sans-serif; border-radius: 0 !important; -moz-border-radius: 0 !important; margin-top:3%">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 style="color: white; text-align: center;">PowerGPA</h3>
      </div>
      <ul class="list-group">
        <% @grades.each do |name, grade|%>
          <li class=list-group-item>
            <h6><span class="label label-primary"><%= name %>:</span> <%= grade.round(3) %></h6>
          </li>
        <% end %>
      </ul>
      <div class="panel-footer">
        <h4 style="color: #0a94ff; text-align: center;"> Your GPA: <b><%= @gpa.round(3) %></b></h4>
      </div>
    </div>
  </div>
</div>
