<div class="list-group-item">
  <h6><span class="label label-primary">AP GPA Scaling:</h6>
  <ul>
    <li>A: 4.667</li>
    <li>A-: 4.333</li>

    <li>B+: 4.0</li>
    <li>B: 3.667</li>
    <li>B-: 3.333</li>

    <li>C+: 2.667</li>
    <li>C: 2.0</li>
    <li>C-: 1.667</li>

    <li>D+: 1.333</li>
    <li>D: 1.000</li>
    <li>D-: 0.667</li>
    <li>F: 0.000</li>
  </ul>
</div>

<div class="list-group-item">
  <h6><span class="label label-primary">Acc GPA Scaling:</h6>
  <ul>
    <li>A: 4.333</li>
    <li>A-: 4.0</li>

    <li>B+: 3.667</li>
    <li>B: 3.333</li>
    <li>B-: 3.0</li>

    <li>C+: 2.667</li>
    <li>C: 2.0</li>
    <li>C-: 1.667</li>

    <li>D+: 1.333</li>
    <li>D: 1.000</li>
    <li>D-: 0.667</li>
    <li>F: 0.000</li>
  </ul>
</div>

<div class="list-group-item">
  <h6><span class="label label-primary">CPA / CPB GPA Scaling:</h6>
  <ul>
    <li>A: 4.0</li>
    <li>A-: 3.667</li>

    <li>B+: 3.333</li>
    <li>B: 3.0</li>
    <li>B-: 2.667</li>

    <li>C+: 2.333</li>
    <li>C: 2.0</li>
    <li>C-: 1.667</li>

    <li>D+: 1.333</li>
    <li>D: 1.000</li>
    <li>D-: 0.667</li>
    <li>F: 0.000</li>
  </ul>
</div>
