<div class="row powergpa-row" style="font-family: 'Muli', sans-serif; border-radius: 0 !important; -moz-border-radius: 0 !important;">
  <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
    <% if @current_error %>
      <%= erb :error %>
    <% end %>

    <ul class="list-group">
      <li class="list-group-item active">
        <h2 style="color: white; text-align: center;">PowerGPA</h2>
      </li>
      <li class="list-group-item">
        <b>DISCLAIMER:</b> We forward your login information directly to PowerSchool and do not store it on our servers. Your grades are only accessed through PowerSchool's opensource API,
        a non-intrusive way to calculate your GPA.
      </li>

    <form class="form-horizontal" role="form" id="submit" action="/gpa" method="post">
      <li class="list-group-item">
        <div class="row">
          <div class="form-group">
            <div class="col-md-1 col-md-offset-1 col-xs-offset-1">
              <label class="control-label" style="text-align: right;">PowerSchool Domain:</label>
            </div>
            <div class="col-md-8 col-xs-offset-1 col-md-offset-1 col-xs-8">
              <input type="text" class="form-control" name="ps_url" placeholder="ps2.millburn.org">
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="form-group">
            <div class="col-md-1 col-md-offset-1 col-xs-offset-1">
              <label class="control-label" style="text-align: right;">Username:</label>
            </div>
            <div class="col-md-8 col-xs-offset-1 col-xs-8">
              <input type="text" class="form-control" name="ps_username" placeholder="Username">
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="form-group">
            <div class="col-md-1 col-md-offset-1 col-xs-offset-1">
              <label class="control-label" style="text-align: right;">Password:</label>
            </div>
            <div class="col-md-8 col-xs-offset-1 col-xs-8">
              <input type="password" class="form-control" name="ps_password" placeholder="Password">
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="form-group">
            <div class="col-md-1 col-md-offset-1 col-xs-offset-1">
              <label for="select" class="control-label" style="text-align: right;">Account type:</label>
            </div>
            <div class="col-md-8 col-xs-offset-1 col-xs-8">
              <select class="form-control" id="select" name="ps_type">
                <option value="2">Student</option>
                <option value="1">Parent</option>
              </select>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="form-group">
            <div class="col-md-1 col-md-offset-1 col-xs-offset-1">
              <label for="select" class="control-label" style="text-align: right;">Remember Me:</label>
            </div>
            <div class="col-md-1 col-xs-offset-1 col-xs-1">
              <br>
              <input type="checkbox" class="form-control" name="ps_remember"></input>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2 col-xs-offset-1 col-md-offset-0">
            <button class="btn btn-primary" id="calc">Calculate GPA</button>
          </div>
        </div>
      </li>
    </ul>
  </form>
</div>
</div>
