<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
    <script src="/bootstrap.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <title>PowerGPA</title>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
