.powergpa-row {
  margin-right: 0px;
}

html {
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
}

.footer {
  width: 99%;
  min-width: 99%;
  margin-top: 7%;
  height: 9%;
  background-color: #f5f5f5;
}

.footer div {
  margin-left: 5px;
}

@media only screen and (max-width: 500px) {
  .footer {
      text-align: center;
  }
}
